# Ignore suggestions taken from https://github.com/github/gitignore/blob/master/Python.gitignore
# Project files to ignore
tmp/
out/tiff/*.tiff
out/jpeg/*.jpeg
out/png/*.png
out/txt/*.txt
out/tsv/*.tsv
.DS_Store

# Ignored byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/

out/
jpeg/
json/
png/
tiff/
tsv/
txt/
.vscode/
kiachase.json
kia_chase.json
ScheduleVINS.csv