<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">How To Upload a File</h3>
      </div>
      <div>
      <span>
      
      <hr/>
      <h3>File Upload</h3>
      <form action="upload" method="post" enctype="multipart/form-data">
        <label><input type="number" name="version" min="1" max="1">Version</latest><br/>
        <input type="file" multiple="" name="file[]" class="span3" /><br />
        <input type="submit" value="Upload"  class="span2">
        </span>
      </form>
      </div>
    </div>
  </body>
</html>